
*{
  box-sizing:border-box;
}

body{
  margin:0;
  padding:0;
  
  }

p {
  font-size: 18pt;
  font-family:sans-serif;
}

h1 {
  font-size: 70px;
  font-family: sans-serif;
  margin: 0;
  padding: 10px;
  text-align:center;
}
nav{
    font:sans-serif;
    background-color: black;
    color: white;
   
}
nav>ul>li{
    padding:10px;
}
nav>ul>li:hover{
  background-color: #ddd;
  color: red;
}

nav>ul>li a:hover{
  color:black;
}



nav>ul>li a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: Left;
    padding: 14px 16px;
    text-decoration: none;
}
#navigation>ul{
    list-style: none;
    display:flex;
    justify-content: space-around;
    margin:0;
    padding:0;
    font-size:24px;
    font-weight: bold;
}

/* below is for dropdown list */
.dropdown{
  position:absolute; /*need to find a  parent that non-static, the parent of dropdown is clothing */
  list-style:none;
  padding:0;
  left:0;
  top:100%; 
  display:none;
}

.clothing:hover > .dropdown{
display:block;
}

.clothing:hover > .dropdown>li:hover{
  background-color: #ddd;
  color: black;


}

.dropdown > li{
padding: 10px;
border-top: 1px solid white;
white-space:nowrap;
background-color: black;

}
.clothing {
position: relative;
}

/* the above is for dropdown list */


#menu-button{
    display: none;
}


#title{
  text-align: center;
  margin:0;
  padding:5px;
  
  font-size:140%;
}

img{
  width:100%;
  background-color:white;
  box-sizing:border-box;
  border-radius:25px;
  
}

.cloth-intro{
  padding:2px;
  font-size:120%;
  margin:0;
  text-align: center;
  font-family: sans-serif;
}


.card{
  width:30%;
  display:inline-block;
  border-radius:25px;
  padding:10px;
  margin:10px;
  vertical-align:top;
  }
  



   

#root3{
  width: 80%;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  flex-wrap:wrap;
  margin:auto;
  padding-top:50px;
} 


      

@media screen and (max-width: 1000px){

  body{
    margin-top:120px;
  }

  #menu-button{
      display: block;
      padding: 10px;
      align-self: center;
      align-items: center;
      justify-content: center;
  }
  header{
      background-color: black;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      position:fixed;
      left:0px;
      right:0px;
      top:0px;
      height: 100px;
      box-shadow: 0 -15px 10px 20px gray;
      
  }
  main{
      padding-top:200px;
  }
  h1{
      color: white;
      padding:10px;
  }
  nav{
      display: none;
      position:absolute;
      right:0px;
      top:100%;
      
  }
  nav.open{
      display: flex;
  }
  nav>ul{
      flex-direction: column;
      position: relative;
  }
  nav>ul>li{
      background-color: black;
      border-top:1px solid white;
      color:white;
  }
  nav>ul>li:active,.active{
      background-color: gray;
  }

  .clothing:hover > .dropdown{
    display:block;
  }

 

  .dropdown{
    position:absolute; 
    list-style:none;
    padding:0px;
    left:-130px; 
    top:0; 
    display:none;
  }

  #navigation>ul{
    position: relative;
    
  }



  .card{
    width:70%;
    display:inline-block;
    border-radius:25px;
    padding:10px;
    margin:10px;
    vertical-align:top;
    }




}






    
